@media screen and (max-width: 1200px) {
    body {
      /* webkit browsers */
      zoom: 170%;
      /* moz browsers , since there is no support to "zoom" */
      -moz-transform: scale(1.2);
      -moz-transform-origin: 0 0
    }
  }



.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 10%;
    height: auto;
    padding-top: 2%;
}

.col{
    background-color: #141414;
}


body{
    font-family:Arial, Helvetica, sans-serif;
}

.nav {
    margin:0;
    padding:0;
    margin-bottom: 4%;
    margin-top: 4%;
    text-align:center;
}

.nav li {
    display:inline;
    margin: 1vw;
    padding: 1vw;
    font-size: 1.2vw;
    color: aliceblue;

    border-radius: 25px;

    border: 0.2vw solid  #141414;
    transition: border-color color 250ms linear, color 250ms linear;
      -moz-transition: border-color 250ms linear, color 250ms linear;    /* FF3.7+ */
      -o-transition: border-color 250ms linear, color 250ms linear;      /* Opera 10.5 */
      -webkit-transition: border-color 250ms linear, color 250ms linear; /* Saf3.2+, Chrome */


     
}

.nav li:hover {
    border-color: #cf6813;
    color: #cf6813;
    cursor:pointer;
  }


.divtitle{
    padding-top: 1%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 4vw;
    color: #cf6813;
    font-weight: 900;
}

.divbut{
    padding-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.button {
    background-color: aliceblue;
    border: 1px solid black;
    color: black;
    padding: 15px 15px;
    width: 25%;
    text-align: center;
    display: inline-block;
    font-size: 110%;
    cursor: pointer;

    transition: background-color 250ms linear;
      -moz-transition: background-color 250ms linear;    /* FF3.7+ */
      -o-transition: background-color 250ms linear;      /* Opera 10.5 */
      -webkit-transition: background-color 250ms linear; /* Saf3.2+, Chrome */
  }
  
button:hover {
    background-color: #cf6813;
  }
   
.final{
    padding-top: 2%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    color: #cf6813;
}

#about{
    margin-bottom: 50px;
    max-width: 20%;
    background-color: #63330c ;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    color: aliceblue;
    display: none;
}


#contact{
    margin-bottom: 50px;
    width: 20%;
    background-color: #63330c  ;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    color: aliceblue;
    display: none;
}

.hs{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 8%;
}